<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="" {{site.language_attributes}}> <!--<![endif]-->
{% block html_head_container %}
    <head>
    <meta charset="{{site.charset}}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="{{site.pingback_url}}" />
    {{ function('wp_head') }}

    {% block head %}
        {# Include extra stuff in the document head #}
    {% endblock %}
    </head>
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">
    {% block body %}

    {% endblock %}
    <div class="text-center text-xs my-4">
        &copy; {{ year }} &middot; How to Build with WP &middot; Questions? <a id="footer-contact-email" class="text-grey-darker" href="#contact">Contact Me</a>
    </div>
    {% block footer_scripts %}
        {# Include extra stuff in the document footer, JS etc #}
    {% endblock %}
    {{ function('wp_footer') }}
</body>
</html>